<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>490603851284-rbaq7p1vq0p2a17bcfien3ro7gvafvff.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.490603851284-rbaq7p1vq0p2a17bcfien3ro7gvafvff</string>
	<key>API_KEY</key>
	<string>AIzaSyAMUQfIuo1m6iV-WHr87sv54fNMtxBesK8</string>
	<key>GCM_SENDER_ID</key>
	<string>490603851284</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chatApp</string>
	<key>PROJECT_ID</key>
	<string>flutter-chat-app-e4227</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-chat-app-e4227.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:490603851284:ios:881e7cc5acc66889a0c101</string>
	<key>DATABASE_URL</key>
	<string>https://flutter-chat-app-e4227-default-rtdb.firebaseio.com</string>
</dict>
</plist>